<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EVE Online Market</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
        <div class="container" id="market">
            <div v-if="isFinishedLoading()">
                <label for="regionSelection">Region:</label>
                <select id="regionSelection" class="form-control">
                    <option v-for="region in regions" value="{{ region.id }}">{{ region.name }}</option>
                </select>
                <ul>
                    <market-group v-for="mg in marketGroupsList" v-bind:model="mg" v-bind:selectedtype="selectedtype"></market-group>
                </ul>
            </div>
        </div>

        <script type="text/x-template" id="market-group-template">
            <li>
                <div v-on:click="toggle">{{ model.name }}</div>
                <ul v-show="open" >
                    <market-group  v-for="model in model.children" v-bind:model="model" v-bind:selectedtype="selectedtype"></market-group>
                    <div v-if="model.typesDownloaded">
                        <market-item  v-for="model in model.typeChildren" v-bind:model="model" v-bind:selectedtype="selectedtype"></market-item>
                    </div>
                </ul>
            </li>
        </script>

        <script type="text/x-template" id="market-item-template">
            <li>
                <div v-on:click="selected">{{ model.type.name }}</div>
            </li>
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.2/vue-resource.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>